@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-white: #f1f1f1;
  --color-black: #1a1a1a;
  --color-green-pulse: #629460;

  --grid-template-columns-header: 250px 1fr 250px;
  --grid-template-columns-project-info: 100px 1fr;

  --cursor-arrow: url("/icons/arrow-cursor.svg"), auto;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

.dark *::selection {
  background-color: var(--color-white);
  color: var(--color-black);
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-white);
  font-family: Satoshi;
}

.dark body {
  background-color: var(--color-black);
}

html.dark {
  background-color: var(--color-black);
}

.dark .dark-fill {
  filter: invert(1) grayscale(100%) brightness(1.5);
}

.light-fill {
  filter: invert(1) grayscale(100%) brightness(1.5);
}

.dark .light-fill {
  filter: invert(0) grayscale(100%) brightness(1.5);
}

.title-container-anim {
  will-change: transform;
}

/**
* @license
* Font Family: Satoshi
* Designed by: Deni Anggara
* URL: https://www.fontshare.com/fonts/satoshi
* © 2024 Indian Type Foundry
* Satoshi Variable (Variable font)
*/
@font-face {
  font-style: normal;
  font-weight: 300 900;
  src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2");
  font-family: "Satoshi";
  font-display: swap;
}

.satoshi {
  font-family: Satoshi;
}

.h1 {
  font-size: clamp(2.5rem, 5vw, 6rem);
}
.h2 {
  font-size: clamp(1rem, 1vw, 1rem);
}
.h3 {
  font-weight: 700;
  font-size: clamp(2rem, 2vw, 2rem);
}
.h4 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.left-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
